.home::before {
  content: "";
  position: absolute;
  background-image: url("../../assets/landingbg.jpg");
  filter: grayscale(80%);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.home {
  position: relative;
  display: flex;
  &-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    position: relative;
    & h1 {
      @include heading-text;
      color: $red;
      text-align: center;
      text-shadow: 2px 2px 4px $white;
      font-family: "marvel";
      margin: 0rem 0rem 6rem;
    }
    & a {
      text-align: center;
      margin: 0 auto;
      width: 16rem;
    }
    & button {
      outline: none;
      border: none;
      border-radius: 5px;
      height: 4rem;
      width: 16rem;
      text-transform: capitalize;
      background: $blue;
      color: $white;
      cursor: pointer;
      transition: 0.4s ease-in-out;
      font-size: 1.1rem;
      &:hover {
        background: #327cbc;
        box-shadow: 0px 0px 30px $drop-shadow;
      }
    }
  }
}
