.search-page {
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-around;
  & h1 {
    font-family: $heading-font;
    color: $red;
    text-align: center;
    text-transform: uppercase;
    font-size: 4.6em;
  }
  &-input,
  &-button {
    display: block;
    margin: 0 auto;
    outline: none;
    border: none;
  }
  &-input {
    width: 30rem;
    height: 3rem;
    border-radius: 30px;
    padding: 15px;
    transition: 0.2s ease-in;
    &:focus {
      outline: none;
      border-color: #719ece;
      box-shadow: 0 0 15px #719ece;
    }
  }
  &-button {
    width: 7rem;
    height: 2.4rem;
    border-radius: 20px;
    background: $blue;
    color: $white;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
    &:hover {
      background: $light-blue;
    }
  }
}
